*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Public Sans', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
}

p {
    font-size: 1.6rem;
    color: var(--grayish-blue);
    line-height: 1.6;
}

section {
    padding: 0 2.5rem;
}


.container {
    width: 100%;
    background-color: var(--very-light-gray);
}

:root {
    --dark-blue: hsl(276, 26%, 24%);
    --light-purple: hsl(276, 67%, 58%);
    --purple: hsl(261, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

.u-pd-small {
    padding: 2.2rem;
}

.u-mb-small {
    margin-bottom: 1.6rem;

}

.u-mb-medium {
    margin-bottom: 3rem;

}

.u-mb-large {
    margin-bottom: 5rem;

}

header {
    width: 100%;
    height: 7.5rem;
    padding: 2.5rem 0;
    background-color: var(--white);
    position: relative;
    z-index: 9999999;
}

.logo {
    height: 2.3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul li {
    list-style: none;
    margin: 0 2.2rem;
    padding: 0.3rem;
} 

li a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--grayish-blue);
    padding-bottom: 2rem;
    position: relative;
}

li a:hover {
    color: var(--dark-blue);
}

nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    height: .3rem;
    background: linear-gradient(to right, var(--light-purple), var(--purple));
    opacity: 0;
    transform: scaleX(0);
    transform-origin: middle;
    transition: all .3s;
}

#nav-btn:hover {
    color: white;
}

#nav-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    height: 0;
    background: linear-gradient(to right, var(--light-purple), var(--purple));
    opacity: 0;
    transform: scaleX(0);
    transform-origin: middle;
    transition: all .3s;
}


nav ul li a:hover::before {
    opacity: 1;
    transform: scaleX(1);
}

.btn {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    margin-right: 2.2rem;
    padding: 1.3rem 3rem;
    background: linear-gradient(to right, var(--light-purple), var(--purple));
    border-radius: 5rem;
    opacity: 1;
    transform: scaleX(1);
    transition: all .2s;
}

.btn:hover {
    opacity: .8;
}

.welcome-section {
    padding: 3rem 0 1rem 0;
    width: 100%;
    background-color: var(--very-light-gray);
}

.welcome {
    display: flex;
    flex-direction: column-reverse;
}

.welcome-image {
    display: inline-block;
    text-align: center;
    height: 38rem;
}

.welcome-image img {
    margin-right: 5rem;
    width: 100%;
    height: 48rem;
    transform: translateY(-15rem);
}

.welcome-text {
    text-align: center;
    padding: 0 2.5rem;
    margin: 3rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--dark-blue);
    line-height: 4.5rem;
    padding: 0 2.5rem;

}

.about, .about-section {
    background-color: var(--light-grayish-blue);
}

.about-section {
    padding-left: 3rem;
}

.about-text {
    width: 100%;
    text-align: center;
}

.heading-secondary {
    font-size: 3rem;
    font-weight: normal;
    color: var(--dark-blue);
    line-height: 4.5rem;
    padding: 2.2rem;
}

.about-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    column-gap: 1rem;
}

.about-item-box {
    display: inline-block;
    text-align: center;
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: normal;
    color: var(--dark-blue);
    line-height: 4.5rem;
    padding: 2.2rem;
}

.review-section {
    padding-left: 3rem;
    background-color: var(--very-light-gray);
}

.review {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    column-gap: 2rem;
}

.review-box {
    background-color: var(--white);
    background-origin: 1px solid transparent;
    border-radius: .5rem;
    overflow: hidden;
}

.review-box img {
    width: 100%;
    padding: 2rem;
    margin-bottom: -2rem;
}

.review-box .img-author img {
    width: 75%;
    height: 75%;
    padding: 2rem;
}



.review-content {
    padding: 2rem;
}

.review-author {
    font-size: 2rem;
}

.review-heading {
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--dark-blue);
}

.review-excerpt {
    font-size: 1.3rem;
}

footer {
    padding: 5rem;
    background-color: var(--dark-blue);
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    column-gap: 2rem;
}

.footer-icons a {
    padding-right: 1rem;
}

.footer-links ul li {
    list-style: none;
    padding-bottom: 1.5rem;
}

.footer-links ul li a {
    color: var(--grayish-blue);
}

.footer-links ul li a:hover {
    color: var(--light-purple);
}

.welcome {
    flex-direction: row;
}

.welcome-image::before {
    display: none;
}
.welcome-text {
    text-align: left;
    padding: 5rem 0;
    width: 100%;
}

.welcome-image {
    width: 100%;
    position: relative;
}

.welcome-image img {
    position: absolute;
    width: 40rem;
    height: 65rem;
    right: 0;
    z-index: 1;
}

.about-text {
    width: 50%;
    text-align: left;
}

.about-item-box {
    text-align: left;
}

.form{
    text-align: center;
    background-color: white;
    transform: translate(-50%, -50%);
    margin-top: 24%;
    margin-bottom: -15%;
    position: relative;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

#form-signup {
    height: 570px;
    margin-top: 30%;

}

.form form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_field{
    position: relative;
    border-bottom: 2px solid var(--light-purple);
    margin: 30px 0;
}

.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text_field textarea{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: .5s;
}


.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -6px;
    color: var(--light-purple);
}

.text_field textarea:focus ~ label,
.text_field textarea:valid ~ label{
    top: -10px;
    color: var(--light-purple);

}

.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

#about {
    border-radius: 3rem;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    background: linear-gradient(to right, var(--light-purple), var(--purple));
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(to right, var(--light-purple), var(--purple));
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    opacity: 0.8;
    transition: .5s;
}

.signup_link, .login_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a, .login_link a{
    color: var(--light-purple);
    text-decoration: none;
}

.signup_link a:hover, .login_link a{
    text-decoration: underline;
}